@import './/assets//fonts//style.css';
.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

.mn-100 {
  margin-top: -100px;
}

.user-info {
  /* width: 250px; */
  margin: 2rem;
  font-family: 'Bream Catcher Regular';
}

.score {
  margin-left: 2rem;
  position: relative;
}

.w-100 {
  width: 100%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}
.timer-container {
  position: relative;
  margin: auto;
  height: 182px;
  width: 182px;
  text-align: center;
}
.timer {
  /* width: 220px; */
  /* height: 220px; */
  object-fit: contain;
  font-size: 57px;
  padding: 57px;
  color: #ffffff;
}
.Icon-timer {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 180px;
  transform: rotateX(180deg) rotateY(-180deg) rotateZ(90deg);
}
.Icon-timer circle {
  stroke-dasharray: 764px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 16px;
  stroke: #ff5155;
  fill: none;
  animation: inherit;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 764px;
  }
}

.window {
  width: 100%;
  height: 62px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 92px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  user-select: none;
}

.fast-fingers {
  font-family: 'Laser Corps Gradient Regular';
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: right; */
  margin: 3rem 8rem 0rem 0rem;
}
.the-ultimate-typing-game {
  height: 26px;
  font-family: Gotham;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
}
.the-ultimate-typing-game::before,
.the-ultimate-typing-game::after {
  display: inline-block;
  content: '';
  border-top: 0.1rem solid #ff5155;
  width: 125.6px;
  margin: 0 1rem;
  transform: translateY(-10px);
}

.Rectangle-2 {
  width: 622px;
  height: 90px;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

.difficulty-level {
  /* width: 318px; */
  height: 35px;
  font-family: Breamcatcher;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: #97a5a7;
}

.start-game {
  width: 307px;
  height: 48px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
}

.player_name_777 {
  width: 420px;
  height: 44px;
  font-family: Breamcatcher;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-red);
  margin-top: 10px;
  text-transform: uppercase;
}

.LEVEL-mEDIUM {
  width: 350px;
  height: 44px;
  font-family: Breamcatcher;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-red);
}

.Rectangle-9 {
  width: 622px;
  /* height: 70px; */
  opacity: 0.59;
  font-size: 40px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  margin: 10px;
}
.Rectangle-9::placeholder {
  color: #032228;
}
.Rectangle-10 {
  width: 268px;
  height: 55vh;
  max-height: 60vh;
  border-radius: 15px;
  border: solid 3px red;
  text-align: center;
  overflow: auto;
}

.SCORE-BOARD {
  /* width: 222px; */
  height: 30px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 18px;
  /* text-align: left; */
  color: var(--light-red);
}

.Game-1-114 {
  /* width: 198px; */
  /* height: 30px; */
  font-family: Gotham;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  margin: auto;
  padding: 5px;
}
.Rectangle-5 {
  /* width: 622px; */
  height: 60px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #ffffff;
  background-color: transparent;
  color: #97a5a7;
  font-size: 35px;
  margin: 10px;
}

.PLAY-AGAIN {
  /* width: 313px; */
  height: 54px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 54px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

.Icon-open-reload {
  width: 50px;
  height: 45px;
  object-fit: contain;
  background-color: var(--light-red);
}

.SCORE-GAME-5 {
  width: 572px;
  height: 70px;
  font-family: Gotham;
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.time {
  /* width: 230px; */
  height: 118px;
  font-family: Gotham;
  font-size: 118px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.New-High-Score {
  /* width: 383px; */
  /* height: 53px; */
  font-family: Gotham;
  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}

.mt-1 {
  margin-top: 20px;
}

.info {
  align-items: baseline;
  justify-content: baseline;
}

.ml-2 {
  margin-left: 20px;
}
.footer {
  display: flex;
  position: relative;
  bottom: 1%;
  width: calc(100vw - 8rem);
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 47px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  justify-content: space-between;
  padding: 0rem 3rem;
  place-items: center;
  text-transform: uppercase;
}
.Icon-awesome-home {
  width: 70px;
  height: 66.1px;
  object-fit: contain;
}
.stop-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-buttons {
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
.footer-buttons:hover {
  transform: scale(1.1);
}
.footer-buttons:active {
  transform: translateY(-0.1rem);
}
@media only screen and (min-width: 560px) {
  .footer {
    position: absolute;
  }
  .score {
    position: absolute;
  }
}
