.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

.mn-100 {
  margin-top: -100px;
}

.user-info {
  /* width: 250px; */
  margin: 2rem;
}

.score {
  margin-left: 2rem;
}

.w-100 {
  width: 100%;
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  /* width: 220px; */
  /* height: 220px; */
  object-fit: contain;
  font-size: 50px;
}

.window {
  width: 100%;
  height: 92px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 92px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.fast-fingers {
  font-family: LaserCorpsGradient;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: right; */
  margin: 2rem;
}
.the-ultimate-typing-game {
  width: 283px;
  height: 26px;
  font-family: Gotham;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
}
.Rectangle-2 {
  width: 622px;
  height: 90px;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

.difficulty-level {
  /* width: 318px; */
  height: 35px;
  font-family: Breamcatcher;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: #97a5a7;
}

.start-game {
  width: 307px;
  height: 48px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
}

.player_name_777 {
  width: 420px;
  height: 44px;
  font-family: Breamcatcher;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-red);
  margin-top: 10px;
  text-transform: uppercase;
}

.LEVEL-mEDIUM {
  width: 350px;
  height: 44px;
  font-family: Breamcatcher;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-red);
}

.Rectangle-9 {
  width: 622px;
  /* height: 70px; */
  opacity: 0.59;
  font-size: 40px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

.Rectangle-10 {
  width: 250px;
  height: 100%;
  min-height: 70vh;
  border-radius: 15px;
  border: solid 3px red;
  text-align: center;
}

.SCORE-BOARD {
  /* width: 222px; */
  height: 30px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
}

.Game-1-114 {
  /* width: 198px; */
  /* height: 30px; */
  font-family: Gotham;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: #ffffff;
}
.Rectangle-5 {
  /* width: 622px; */
  height: 60px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #ffffff;
}

.PLAY-AGAIN {
  /* width: 313px; */
  height: 54px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 54px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-align: left; */
  color: var(--light-red);
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

.Icon-open-reload {
  width: 50px;
  height: 45px;
  object-fit: contain;
  background-color: var(--light-red);
}

.SCORE-GAME-5 {
  width: 572px;
  height: 70px;
  font-family: Gotham;
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.time {
  /* width: 230px; */
  height: 118px;
  font-family: Gotham;
  font-size: 118px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.New-High-Score {
  /* width: 383px; */
  /* height: 53px; */
  font-family: Gotham;
  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}

.mt-1 {
  margin-top: 20px;
}

.info {
  align-items: baseline;
  justify-content: baseline;
}

.ml-2 {
  margin-left: 20px;
}
