html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: red;
  font-family: Gotham;
}

#root {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('./assets/bg.svg') rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-blend-mode: overlay;
}

.brand-logo {
  background: url('./assets/keyboard.svg');
  height: 8rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  height: 50px;
  font-size: 24px;
  text-align: end;
  margin: 2rem;
}
