html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  color: red;
  font-family: Gotham;
  overflow: auto;
}

#root {
  background: url('./assets/bg.svg') rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-blend-mode: overlay;
  height: 100vh;
  width: fit-content;
}

.brand-logo {
  background: url('./assets/keyboard.svg');
  height: 8rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  height: 50px;
  font-size: 24px;
  text-align: end;
  margin: 2rem;
}
@media only screen and (min-width: 560px) {
  html,
  body {
    height: auto;
  }
  #root {
    width: auto;
  }
}
